<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mejores libros de arquitectura de software</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        h1 {
            text-align: center;
            font-size: 1.5em;
            margin-bottom: 20px;
        }

        .libro {
            margin-bottom: 30px;
            border-bottom: 1px solid #ccc;
            padding-bottom: 20px;
            overflow: hidden; /* Para limpiar el float */
        }

            .libro img {
                float: left;
                margin-right: 20px;
                max-width: 120px;
                height: auto;
            }

            .libro h2 {
                margin-top: 0;
            }

            .libro p {
                margin-top: 0;
                overflow: hidden; /* Para cubrir completamente la caja */
            }

            .libro a {
                display: block; /* Hacer que el enlace cubra toda la caja del libro */
            }

                .libro a:hover {
                    text-decoration: none; /* Eliminar subrayado al pasar el mouse */
                }
    </style>
</head>
<body>
    <h1>Mejores libros de arquitectura de software</h1>

    <div class="libro">
        <a href="https://d3bxjxywei423j.cloudfront.net/public/book_picture/size180x280_Don't%20Make%20Me%20Think%20-%20A%20Common%20Sense%20Approach%20to%20Web%20Usability%20.jpg" target="_blank">
            <img src="https://d3bxjxywei423j.cloudfront.net/public/book_picture/size180x280_Don't%20Make%20Me%20Think%20-%20A%20Common%20Sense%20Approach%20to%20Web%20Usability%20.jpg" alt="Portada libro Clean Architecture">
        </a>
        <h2> No Me Hagas Pensar</h2>
        <p><strong>Autor:</strong> Steve Krug</p>
        <p>Cientos de miles de diseñadores y desarrolladores web se han basado en la guía del gurú de usabilidad Steve Krug para ayudarles a entender los principios de la navegación intuitiva y diseño Web. Un libro eminentemente práctico, uno de los más queridos y más recomendados sobre el tema.Ahora Steve regresa con nueva perspectiva para reexaminar los principios Web actualizados y un nuevo capítulo de usabilidad móvil.</p>
    </div>

    <div class="libro">
        <a href="https://d3bxjxywei423j.cloudfront.net/public/book_picture/size180x280_Peopleware%20-%20Productive%20Projects%20and%20Teams.jpg" target="_blank">
            <img src="https://d3bxjxywei423j.cloudfront.net/public/book_picture/size180x280_Peopleware%20-%20Productive%20Projects%20and%20Teams.jpg" alt="Portada libro Software Architecture in Practice">
        </a>
        <h2>Peopleware</h2>
        <p><strong>Autores:</strong> Tom DeMarco</p>
        <p>La verdadera clave de la agilidad, y la más profunda de entender, son los equipos y las personas.Sprints, DevOps, MVP, etc., hay multitud de prácticas ágiles que muchos ansían implantar, o usar apropiadamente, pero ninguna transformación ágil tendrá éxito</p>
    </div>

    <div class="libro">
        <a href="https://d3bxjxywei423j.cloudfront.net/public/book_picture/size180x280_The%20DevOps%20Handbook%20-%20How%20to%20Create%20World-Class%20Agility%2C%20Reliability%2C%20and%20Security%20in%20Technology%20Organizations.jpg" target="_blank">
            <img src="https://d3bxjxywei423j.cloudfront.net/public/book_picture/size180x280_The%20DevOps%20Handbook%20-%20How%20to%20Create%20World-Class%20Agility%2C%20Reliability%2C%20and%20Security%20in%20Technology%20Organizations.jpg" alt="Portada libro Designing Software Architectures">
        </a>
        <h2>Designing Software Architectures</h2>
        <p><strong>Autor:</strong>El Manual DevOps</p>
        <p>DevOps no es solo una palabra de moda. Es una forma de pensar que puede sacar los problemas de su organización desde la raíz y cambiar los valores fundamentales tradicionales.</p>
    </div>

    <div class="libro">
        <a href="https://d3bxjxywei423j.cloudfront.net/public/book_picture/size180x280_Cracking%20the%20Coding%20Interview%20-%20189%20Programming%20Questions%20and%20Solutions.jpg" target="_blank">
            <img src="https://d3bxjxywei423j.cloudfront.net/public/book_picture/size180x280_Cracking%20the%20Coding%20Interview%20-%20189%20Programming%20Questions%20and%20Solutions.jpg" alt="Portada libro Designing Object-Oriented Software">
        </a>
        <h2> Descifrando la Entrevista de Codificación</h2>
        <p><strong>Autores:</strong> Gayle Laakmann McDowell</p>
        <p>I am not a recruiter. I am a software engineer. And as such, I know what it's like to be asked to whip up brilliant algorithms on the spot and then write flawless code on a whiteboard. I've been through this as a candidate and as an interviewer.</p>
    </div>

    <div class="libro">
        <a href="https://m.media-amazon.com/images/I/61CsleWC4-L._SY466_.jpg" target="_blank">
            <img src="https://m.media-amazon.com/images/I/61CsleWC4-L._SY466_.jpg" alt="Portada libro Building Evolutionary Architectures">
        </a>
        <h2>Habilidades Blandas</h2>
        <p><strong>Autores:</strong> John Sonmez</p>
        <p>
            When you started to code, the beauty of the pure logic captured your heart. Hard work
            and thousands of hours sitting at the keyboard have taught you how to develop software.
            Still, there’s something missing.
        </p>
    </div>

</body>
</html>
