@model T3_Ramos_Kevin.Models.Libro;
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar</h1>

<form method="post" asp-action="Editar">
    <div class="border p-3">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-intro pl-3">Editar Libro</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Titulo" class="from-label"> Titulo</label>
                    <input asp-for="Titulo" class="from-control" />
                    <span asp-validation-for="Titulo" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Autor" class="from-label">Autor</label>
                    <input asp-for="Autor" class="from-control" />
                    <span asp-validation-for="Autor" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Tema" class="from-label">Tema</label>
                    <input asp-for="Tema" class="from-control" />
                    <span asp-validation-for="Tema" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Editorial" class="from-label">Editorial</label>
                    <input asp-for="Editorial" class="from-control" />
                    <span asp-validation-for="Editorial" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label asp-for="AnioPublicacion" class="from-label">Año de publicacion</label>
                    <input asp-for="AnioPublicacion" class="from-control" />
                    <span asp-validation-for="AnioPublicacion" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Paginas" class="from-label">Paginas</label>
                    <input asp-for="Paginas" class="from-control" />
                    <span asp-validation-for="Paginas" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Categoria" class="from-label">Categoria</label>
                    <input asp-for="Categoria" class="from-control" />
                    <span asp-validation-for="Categoria" class="text-danger"></span>
                </div>
            </div>
            <div class="d-grid gap-2 d-md-block">
                <button type="submit" class="btn btn-primary">Actualizar</button>
                <a asp-controller="Libro" asp-action="Index" class="btn btn-success">Regresar</a>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}                 